#home{
    width: 1440px;
    height: 1182px;
    margin:0px;
    padding: 81px 165px 0px 165px;
    background: #FAFAFA url('../../../assets/img/home/bg-pattern-header.svg') 656px -419px/1134px no-repeat;
}

#homeMainContent{
    width: 100%;
    height: auto;
    margin-top: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#homeMainContent-text{
    width: 540px;
    height: 388px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#homeMainContent-text h1{
    width: inherit;
    height: 192px;
    margin-bottom: 24px;
}

#homeMainContent-text p{
    width: inherit;
    height: 84px;
    margin-bottom: 32px;
}

#homeMainContent-img{
    width: 475px;
    height: 531px;
    background: url('../../../assets/img/home/illustration-charts.svg') center/475px no-repeat;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1023px) {
    #home{
        width: 100vw;
        height: 1196px;
        margin:0px;
        padding: 81px 39px 0px 39px;
        background: #FAFAFA url('../../../assets/img/home/bg-pattern-header.svg') 395px -164px/666px no-repeat;
        border: solid 1px red;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:480px) {

}