main{
    width: 1440px;
    height: 1182px;
    margin:0px;
    padding: 81px 165px 0px 165px;
    background: #FAFAFA url('../../../assets/img/home/bg-pattern-header.svg') 656px -419px/1134px no-repeat;
}

#mainContent{
    width: 100%;
    height: auto;
    margin-top: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mainContent-text{
    width: 540px;
    height: 388px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mainContent-text h1{
    width: inherit;
    height: 192px;
    margin-bottom: 24px;
}

#mainContent-text p{
    width: inherit;
    height: 84px;
    margin-bottom: 32px;
}

#mainContent-img{
    width: 475px;
    height: 531px;
    background: url('../../../assets/img/home/illustration-charts.svg') center/475px no-repeat;
}