#home {
    width: 1440px;
    height: 1182px;
    margin: 0px;
    padding: 81px 165px 0px 165px;
    background: #FAFAFA url('../../../assets/img/home/bg-pattern-header.svg') 656px -419px/1134px no-repeat;
}

#homeMainContent {
    width: 100%;
    height: auto;
    margin-top: 102px;
    display: flex;
    flex-direction: row;
}

#homeMainContent-text {
    width: 540px;
    height: 531px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#homeMainContent-text h1 {
    width: inherit;
    height: 192px;
    margin: 72px 0px 24px 0px;
}

#homeMainContent-text p {
    width: inherit;
    height: 84px;
    margin-bottom: 32px;
    padding-right: 5px;
}

#homeMainContent-img {
    width: 475px;
    height: 531px;
    background: url('../../../assets/img/home/illustration-charts.svg') center/475px no-repeat;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #home {
        width: 100vw;
        height: 1196px;
        padding: 72px 39px 0px 39px;
        background: #FAFAFA url('../../../assets/img/home/bg-pattern-header.svg') 395px -164px/666px no-repeat;
    }

    #homeMainContent {
        margin-top: 104px;
        justify-content: space-between;
        align-items: center;
    }

    #homeMainContent-text {
        width: 345px;
        height: 352px;
    }

    #homeMainContent-text h1 {
        height: 144px;
        margin: 0px 0px 24px 0px;
    }

    #homeMainContent-text p {
        width: inherit;
        height: 104px;
        margin-bottom: 24px;
        padding-right: 0px;
    }

    #homeMainContent-img {
        width: 281px;
        height: 314px;
        background: url('../../../assets/img/home/illustration-charts.svg') center/281px no-repeat;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #home{
        width: 100vw;
        height: 1689px;
        padding: 46px 0px 0px 0px;
        background: #FAFAFA url('../../../assets/img/home/bg-pattern-header.svg') 50% -170px/458px no-repeat;
    }

    #homeMainContent {
        width: 100%;
        height: 634px;
        margin-top: 80px;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }

    #homeMainContent-text {
        width: 327px;
        height: 378px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 64px;
    }

    #homeMainContent-text h1 {
        width: inherit;
        height: 144px;
        margin-top: 0px;
    }

    #homeMainContent-text p {
        width: inherit;
        height: 130px;
        margin-bottom: 24px;
        padding-right: 0px;
    }

    #homeMainContent-img {
        width: 171px;
        height: 192px;
        background: url('../../../assets/img/home/illustration-charts.svg') center/171px no-repeat;
    }
}