.select{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowDown{
    background: url(./img/icon-arrow-down.svg) calc(100% - 8px) 50% / 11px no-repeat;
}

.arrowUp{
    background: url(./img/icon-arrow-up.svg) calc(100% - 8px) 50% / 11px no-repeat;
}

.selectHeader{
    width: inherit;
    height: inherit;
    align-items: center;
}

.selectHeader p{
    cursor: pointer;
}

.submenu{
    width: 367px;
    height: 208px;
    position: absolute;
    margin-top: 45px;
    z-index: 100;
    display: none;
    padding-top: 8px;
}

.submenuFrame{
    width: inherit;
    height: 198px;
    display: flex;
    flex-direction: column;
    padding: 6px 24px 0px 24px;
    background-color: white;
    border: solid 1px rgba(51,57,80,0.15);
    border-radius: 8px;
}

.pack{
    color: black;
}

.price{
    color: var(--light-grey);
}

#basic,#pro{
    border-bottom: solid 1px var(--light-grey);
}