#footerBottom{
    width: 1110px;
    height: 184px;
    margin-top: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footerBottom button{
    margin-top: 60px;
}