#signUp{
    width: 1440px;
    height: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
}

#signUpMainContent{
    width: 1020px;
    height: inherit;
    padding: 81px 0px 0px 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#signUpMainContent > *{
    width: 540px;
}

#signUpMainContent h1{
    height: 128px;
    margin-top: 154px;
}

#signUpMainContent p{
    height: 84px;
    margin: 24px 0px 40px;
}

#mainForm{
    width: 420px;
    height: inherit;
    background: var(--darkest-grey) url('../../assets/img/sign-up/bg-pattern-side.svg') 50% -786px/2036px no-repeat;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #signUp{
        width: 100vw;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    #signUpMainContent{
        width: 100vw;
        height: 935px;
        padding: 72px 39px 0px 39px;
        align-items: center;
    }

    #signUpMainContent > *{
        width: 572px;
        text-align: center;
    }

    #signUpLogo{
        width: 100%;
    }

    #signUpMainContent h1{
        height: 48px;
        margin-top: 104px;
    }

    #signUpMainContent p{
        height: 78px;
    }

    #mainForm{
        width: 100vw;
        height: 380px;
        background: var(--darkest-grey) url('../../assets/img/sign-up/bg-pattern-side.svg') 50% 50%/1454px no-repeat;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #signUp{
        width: 100vw;
        height: 1236px;
        flex-direction: column;
    }
    
    #signUpMainContent{
        height: 916px;
        width: 327px;
        height: inherit;
        padding: 46px 0px 0px 0px;
        
    }
    
    #signUpMainContent > *{
        width: 327px;
        text-align: center;
    }
    
    #signUpMainContent h1{
        height: 130px;
        margin-top: 80px;
    }
    
    #signUpMainContent p{
        height: 84px;
        margin: 16px 0px 64px;
    }
    
    #mainForm{
        width: 100vw;
        height: 320px;
        background: var(--darkest-grey) url('../../assets/img/sign-up/bg-pattern-side.svg') 50% -408px/1202px no-repeat;
    }
}