#mainContent{
    width: 100%;
    height: auto;
    margin-top: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mainContent-text{
    width: 540px;
    height: 388px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mainContent-text h1{
    width: inherit;
    height: 192px;
    margin-bottom: 24px;
}

#mainContent-text p{
    width: inherit;
    height: 84px;
    margin-bottom: 32px;
}

#mainContent-img{
    width: 475px;
    height: 531px;
    background: url('../../img/home/illustration-charts.svg') center/475px no-repeat;
}