:root {
  --darkest-grey: #25293A; /*rgb(37,41,58) / hsl(229,22%,19%)*/
  --light-purple: #829CFF /*rgb(130, 156, 255) / hsl(228, 100%, 75%)*/;
  --dark-purple: #5175FF; /*rgb(81,117,255) / hsl(228,100%,66%) */
}

*{
  box-sizing: border-box;
}

body{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}

p{
  padding: 0px;
  margin: 0px;
}

h1{
  margin: 0px;
  padding: 0px;
}

button{
  border: none;
  border-radius: 28px;
  cursor:pointer;
}



