:root {
  --light-grey: #747B95;
  /*rgb(116,123,149) / hsl(227,13%,52%)*/
  --darkest-grey: #25293A;
  /*rgb(37,41,58) / hsl(229,22%,19%)*/
  --light-purple: #829CFF
    /*rgb(130, 156, 255) / hsl(228, 100%, 75%)*/
  ;
  --dark-purple: #5175FF;
  /*rgb(81,117,255) / hsl(228,100%,66%) */
  --dark-blue-med: #333950;
  /*rgb(51,57,80) / hsl(228,22%,26%) */
  --red: #F05B5B;
  /*rgb(240,91,91) / hsl(0,83%,65%) */
}

@font-face {
  font-family: 'KumbhSans-Bold';
  src: url("../../fonts/KumbhSans-Bold.woff")format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'KumbhSans-Regular';
  src: url("../../fonts/KumbhSans-Regular.woff")format('woff');
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
  font: 700 56px/64px 'KumbhSans-Bold';
  color: var(--dark-blue-med);
}

input {
  outline: none;
}

input::placeholder {
  color: var(--light-grey);
  border: none;
}

input[type="text"] {
  font: 400 16px/28px 'KumbhSans-Regular';
  margin: 0px;
  border: none;
}

button {
  border: none;
  border-radius: 28px;
  cursor: pointer;
  font: 700 16px/28px 'KumbhSans-Bold';
}

.mainText {
  font: 400 18px/28px 'KumbhSans-Regular';
  color: var(--light-grey);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font: 700 40px/48px 'KumbhSans-Bold';
  }

  .mainText {
    font: 400 16px/26px 'KumbhSans-Regular';
  }
}