
.select{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowDown{
    background: url(./img/icon-arrow-down.svg) 100% 50% / 11px no-repeat;
}

#selectHeader{
    width: inherit;
    height: inherit;
    align-items: center;
}

#selectSubmenu{
    position: absolute;
    margin-top: 53px;
    z-index: 100;
    width: 367px;
    height: 198px;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 0px 24px;
    background-color: white;
    border: solid 1px rgba(51,57,80,0.15);
    border-radius: 8px;
}