.backCounter{
    width: 448px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expiringDate{
    height: 48px;
    font: 700 16px/48px 'KumbhSans-Bold';
    letter-spacing: 5px;
}

.comingLabelDark{
    color: white;
}

.comingLabelLight{
    color: var(--dark-blue-med);
}

.dateLabel{
    color: var(--dark-purple);
}

.counter{
    width: inherit;
    height: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lapse{
    width: 100px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    padding-top: 16px;
}

.lapseDark{
    background-color: var(--dark-blue-med);
}

.lapseLight{
    background-color: rgba(81,117,255,0.15);
}

.lapseNumber{
    height:64px ;
    display: inline-block;
    font: 700 56px/64px 'KumbhSans-Bold';
}

.lapseNumberDark{
    color: white;
}

.lapseNumberLight{
    color: var(--dark-purple);
}

.lapseType{
    height:64px ;
    display: inline-block;
    font: 700 16px/28px 'KumbhSans-Bold';
    margin-top: 2px;
    color: var(--light-grey)
}