.backCounter {
    width: 448px;
    height: 176px;
    display: flex;
    flex-direction: column;
}

.expiringDate {
    height: 48px;
    font: 700 16px/48px 'KumbhSans-Bold';
    letter-spacing: 5px;
}

.comingLabelDark {
    color: white;
}

.comingLabelLight {
    color: var(--dark-blue-med);
}

.dateLabel {
    color: var(--dark-purple);
}

.counter {
    width: inherit;
    height: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lapse {
    width: 100px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    padding-top: 16px;
}

.lapseDark {
    background-color: var(--dark-blue-med);
}

.lapseLight {
    background-color: rgba(81, 117, 255, 0.15);
}

.lapseNumber {
    height: 64px;
    display: inline-block;
    font: 700 56px/64px 'KumbhSans-Bold';
    letter-spacing: 2px;
}

.lapseNumberDark {
    color: white;
}

.lapseNumberLight {
    color: var(--dark-purple);
}

.lapseType {
    height: 64px;
    display: inline-block;
    font: 700 16px/28px 'KumbhSans-Bold';
    margin-top: 2px;
    color: #898ea5;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .expiringDate {
        text-align: center;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .backCounter {
        width: 328px;
        height: 158px;
        align-content: center;
    }

    .expiringDate {
        text-align: center;
    }

    .counter {
        height: 92px;
    }

    .lapse {
        width: 72px;
        border-radius: 6px;
        padding-top: 11px;
    }

    .lapseNumber {
        height: 49px;
        font: 700 32px/48px 'KumbhSans-Bold';
    }

    .lapseType {
        height: 28px;
        font: 700 12px/28px 'KumbhSans-Bold';
        margin-top: 0px;
    }
}