footer{
    width: 1440px;
    height: 603px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--darkest-grey) url('../../../assets/img/home/bg-pattern-footer.svg') -702px -614px/2036px no-repeat;
}

#footerDate{
    width: inherit;
    height: 48px;
    font: 700 16px/48px 'KumbhSans-Bold';
    letter-spacing: 5px;
}

#footerCounter{
    width: inherit;
    height: 128px;
}
